################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TwoFactRegressCalc/FileContentIndex/49fe4767-28aa-47ab-a48c-068d2d98baba.vsidx
/.vs/TwoFactRegressCalc/FileContentIndex/4e58c9d3-de45-4746-b4fb-ebfbf5c79130.vsidx
/.vs/TwoFactRegressCalc/FileContentIndex/5788e3a1-2787-4044-8dc4-6fd2e7e90236.vsidx
/.vs/TwoFactRegressCalc/FileContentIndex/99827367-32a5-484a-8167-4659be4561d8.vsidx
/.vs/TwoFactRegressCalc/FileContentIndex/b320122a-f714-4b6a-8629-a492faf49544.vsidx
/.vs/TwoFactRegressCalc/FileContentIndex/c099e1f6-95ae-449c-b42e-815a5976c3af.vsidx
/.vs/TwoFactRegressCalc/FileContentIndex/f2d19920-5aa6-418a-8ce1-7145f73c22b2.vsidx
/TwoFactRegressCalc/obj/Debug/net8.0-windows/App.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/App.g.i.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/apphost.exe
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.csproj.AssemblyReference.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.csproj.CoreCompileInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.csproj.FileListAbsolute.txt
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.designer.runtimeconfig.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/View/MainWindow.baml
/TwoFactRegressCalc/obj/Debug/net8.0-windows/View/MainWindow.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/View/MainWindow.g.i.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.g.resources
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.genruntimeconfig.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.pdb
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2qjmwpll_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2qjmwpll_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2qjmwpll_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2qjmwpll_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2qjmwpll_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2qjmwpll_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_2qjmwpll_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_41pnkhqr_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_41pnkhqr_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_41pnkhqr_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_41pnkhqr_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_41pnkhqr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_41pnkhqr_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_41pnkhqr_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gfimgnvx_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gfimgnvx_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gfimgnvx_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gfimgnvx_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gfimgnvx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gfimgnvx_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_gfimgnvx_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_MarkupCompile.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_MarkupCompile.i.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_MarkupCompile.i.lref
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_MarkupCompile.lref
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_q3lhdebf_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_q3lhdebf_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_q3lhdebf_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_q3lhdebf_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_q3lhdebf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_q3lhdebf_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_q3lhdebf_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_rawtdtvk_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_rawtdtvk_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_rawtdtvk_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_rawtdtvk_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_rawtdtvk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_rawtdtvk_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_rawtdtvk_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_v55g05yv_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_v55g05yv_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_v55g05yv_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_v55g05yv_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_v55g05yv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_v55g05yv_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_v55g05yv_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wjwxrdb2_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wjwxrdb2_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wjwxrdb2_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wjwxrdb2_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wjwxrdb2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wjwxrdb2_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_wjwxrdb2_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_x12jzg55_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_x12jzg55_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_x12jzg55_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_x12jzg55_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_x12jzg55_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_x12jzg55_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_x12jzg55_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_xpltcrct_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_xpltcrct_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_xpltcrct_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_xpltcrct_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_xpltcrct_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_xpltcrct_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_xpltcrct_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ythmdaww_wpftmp.AssemblyInfo.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ythmdaww_wpftmp.AssemblyInfoInputs.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ythmdaww_wpftmp.assets.cache
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ythmdaww_wpftmp.csproj.BuildWithSkipAnalyzers
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ythmdaww_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ythmdaww_wpftmp.GlobalUsings.g.cs
/TwoFactRegressCalc/obj/Debug/net8.0-windows/TwoFactRegressCalc_ythmdaww_wpftmp.sourcelink.json
/TwoFactRegressCalc/obj/project.assets.json
/TwoFactRegressCalc/obj/project.nuget.cache
/TwoFactRegressCalc/obj/TwoFactRegressCalc.csproj.nuget.dgspec.json
/TwoFactRegressCalc/obj/TwoFactRegressCalc.csproj.nuget.g.props
/.vs/TwoFactRegressCalc/v17/DocumentLayout.backup.json
/.vs/TwoFactRegressCalc/v17/DocumentLayout.json
